@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Fredoka:wght@500&family=Inter:wght@500&family=Nanum+Gothic+Coding&display=swap");

.anime-list-page {
  font-family: "Nanum Gothic Coding", monospace;
  padding: 120px;
  height: 100vh;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head > input {
  border-radius: 10px;
  width: 25%;
  height: 26px;
  margin-bottom: 20px;
  opacity: 50%;
}

.anilist-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.anilist-content {
  background-color: #fafafa;
  border-radius: 20px;
  height: 390px;
  width: 170px;
  box-shadow: 6px 5px #f9f54b;
}

.animage {
  border-radius: 20px;
  height: 200px;
  width: 170px;
  object-fit: cover;
}

.anime-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.anime-details > h3 {
  margin: 7px;
}
