/* quotes page */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Fredoka:wght@500&family=Inter:wght@500&family=Nanum+Gothic+Coding&display=swap");

.quotes-page {
  font-family: "Nanum Gothic Coding", monospace;
}

.quotes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-generate {
  background: #141212;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

span {
  background: #f9f54b;
}
